{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": ["last 4 versions"]
            }
        }]
    ],
    "plugins": [
        "@babel/transform-runtime"
    ]
}